In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
import math
import seaborn as sns
import sklearn
from sklearn import linear_model
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
sns.set_style('white')

In [2]:
df= pd.read_excel('table_8_offenses_known_to_law_enforcement_new_jersey_by_city_2013.xls',skiprows=4)

In [3]:
df.tail()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
476,Woodstown,3519.0,7.0,0.0,NaN,1.0,2.0,4.0,43.0,9.0,32.0,2.0,1.0
477,Woolwich Township,11167.0,1.0,0.0,NaN,0.0,0.0,1.0,53.0,17.0,36.0,0.0,0.0
478,Wyckoff Township,16949.0,0.0,0.0,NaN,0.0,0.0,0.0,79.0,10.0,68.0,1.0,0.0
479,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.drop([df.index[480],df.index[479]], inplace=True)

In [5]:
df.tail()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
474,Woodlynne,2967.0,15.0,0.0,NaN,0.0,8.0,7.0,66.0,8.0,49.0,9.0,0.0
475,Wood-Ridge,8632.0,1.0,0.0,NaN,0.0,0.0,1.0,54.0,10.0,42.0,2.0,0.0
476,Woodstown,3519.0,7.0,0.0,NaN,1.0,2.0,4.0,43.0,9.0,32.0,2.0,1.0
477,Woolwich Township,11167.0,1.0,0.0,NaN,0.0,0.0,1.0,53.0,17.0,36.0,0.0,0.0
478,Wyckoff Township,16949.0,0.0,0.0,NaN,0.0,0.0,0.0,79.0,10.0,68.0,1.0,0.0

In [6]:
df.columns

Index(['City', 'Population', 'Violent\ncrime',
       'Murder and\nnonnegligent\nmanslaughter',
       'Rape\n(revised\ndefinition)1', 'Rape\n(legacy\ndefinition)2',
       'Robbery', 'Aggravated\nassault', 'Property\ncrime', 'Burglary',
       'Larceny-\ntheft', 'Motor\nvehicle\ntheft', 'Arson'],
      dtype='object')

In [7]:
df.rename(columns={'City':'city','Population':'population','Violent\ncrime':'violent_crime','Murder and\nnonnegligent\nmanslaughter':'murder_nonneg_manslaughter','Rape\n(revised\ndefinition)1':'rape_revised','Rape\n(legacy\ndefinition)2':'rape','Robbery':'robbery','Aggravated\nassault': 'aggravated_assult','Property\ncrime':'property_crime','Burglary':'burglary','Larceny-\ntheft':'larceny_theft','Motor\nvehicle\ntheft': 'motor_vehicle_theft','Arson':'arson' },inplace=True)

In [8]:
df.columns

Index(['city', 'population', 'violent_crime', 'murder_nonneg_manslaughter',
       'rape_revised', 'rape', 'robbery', 'aggravated_assult',
       'property_crime', 'burglary', 'larceny_theft', 'motor_vehicle_theft',
       'arson'],
      dtype='object')

In [9]:
df.drop('rape_revised',axis=1, inplace=True)

In [10]:
df.head()

,city,population,violent_crime,murder_nonneg_manslaughter,rape,robbery,aggravated_assult,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
0,Aberdeen Township,18150.0,19.0,0.0,0.0,13.0,6.0,237.0,42.0,185.0,10.0,0.0
1,Absecon,8380.0,21.0,0.0,2.0,4.0,15.0,266.0,91.0,169.0,6.0,0.0
2,Allendale,6712.0,0.0,0.0,0.0,0.0,0.0,37.0,6.0,29.0,2.0,0.0
3,Allenhurst,493.0,0.0,0.0,0.0,0.0,0.0,39.0,20.0,18.0,1.0,0.0
4,Allentown,1812.0,3.0,0.0,0.0,0.0,3.0,18.0,12.0,6.0,0.0,0.0

In [11]:
df.isnull().values.any()

False

In [12]:
df.set_index('city', inplace=True)

In [13]:
df.loc['Ventnor City']

population                    10604.0
violent_crime                    12.0
murder_nonneg_manslaughter        0.0
rape                              0.0
robbery                           6.0
aggravated_assult                 6.0
property_crime                  391.0
burglary                        162.0
larceny_theft                   224.0
motor_vehicle_theft               5.0
arson                             0.0
Name: Ventnor City, dtype: float64

In [14]:
df1 = df

In [15]:
df.head()

,population,violent_crime,murder_nonneg_manslaughter,rape,robbery,aggravated_assult,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
city,,,,,,,,,,,
Aberdeen Township,18150.0,19.0,0.0,0.0,13.0,6.0,237.0,42.0,185.0,10.0,0.0
Absecon,8380.0,21.0,0.0,2.0,4.0,15.0,266.0,91.0,169.0,6.0,0.0
Allendale,6712.0,0.0,0.0,0.0,0.0,0.0,37.0,6.0,29.0,2.0,0.0
Allenhurst,493.0,0.0,0.0,0.0,0.0,0.0,39.0,20.0,18.0,1.0,0.0
Allentown,1812.0,3.0,0.0,0.0,0.0,3.0,18.0,12.0,6.0,0.0,0.0

In [16]:
y = (df1['murder_nonneg_manslaughter']>3).astype(int)
y
#df1.drop('murder_nonneg_manslaughter',axis=1, inplace=True)
x=df1
x=df1.drop('murder_nonneg_manslaughter', axis=1)

In [17]:
x.head()

,population,violent_crime,rape,robbery,aggravated_assult,property_crime,burglary,larceny_theft,motor_vehicle_theft,arson
city,,,,,,,,,,
Aberdeen Township,18150.0,19.0,0.0,13.0,6.0,237.0,42.0,185.0,10.0,0.0
Absecon,8380.0,21.0,2.0,4.0,15.0,266.0,91.0,169.0,6.0,0.0
Allendale,6712.0,0.0,0.0,0.0,0.0,37.0,6.0,29.0,2.0,0.0
Allenhurst,493.0,0.0,0.0,0.0,0.0,39.0,20.0,18.0,1.0,0.0
Allentown,1812.0,3.0,0.0,0.0,3.0,18.0,12.0,6.0,0.0,0.0

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.25,random_state=102)

In [19]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(359, 10)
(120, 10)
(359,)
(120,)

In [20]:
logreg = LogisticRegression()
logreg.fit(x_train, y_train)

/Users/christianfreeman/anaconda3/envs/thinkful2/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Users/christianfreeman/anaconda3/envs/thinkful2/lib/python3.7/site-packages/sklearn/svm/base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [21]:
prediction = logreg.predict(x_test)

In [22]:
score = logreg.score(x_test,y_test)
print(score)

0.975

In [23]:
cm = confusion_matrix(y_test, prediction)
print(cm)

[[116   3]
 [  0   1]]

In [24]:
from sklearn.linear_model import Ridge

In [25]:
y1 = df1['murder_nonneg_manslaughter']

In [26]:
ridge = Ridge( normalize=True)

In [27]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x,y1, test_size=.25,random_state=102)

In [28]:
ridge.fit(x1_train, y1_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [29]:
ridge_prediction = ridge.predict(x_test)
ridge_score= ridge.score(x1_test,y1_test)
print(ridge_score)

0.025281547100478363

In [30]:
from sklearn.preprocessing import MinMaxScaler

In [31]:
scaler=MinMaxScaler()

In [32]:
x1_train_scaled = scaler.fit_transform(x1_train)
x1_test_scaled = scaler.fit_transform(x1_test)

In [33]:
clf = ridge.fit(x1_train_scaled, y1_train)
r2_score = clf.score(x1_test_scaled, y1_test)

In [34]:
linridge = Ridge(alpha=30.0).fit(x1_train_scaled, y_train)

In [35]:
print(linridge.intercept_)
print('ridge coef: {} '.format(linridge.coef_))
print('ridge train score: {} '.format(linridge.score(x1_train_scaled, y_train)))
print('ridge test score: {}'.format( linridge.score(x1_test_scaled, y_test)))

0.009691023184018429
ridge coef: [0.05310373 0.05369757 0.08570077 0.04321415 0.08144457 0.04841001
 0.05885462 0.04878326 0.04040931 0.06941975]
ridge train score: 0.2978298530620487
ridge test score: 0.29270169122671474

In [36]:
from sklearn.linear_model import Lasso

In [37]:
linlasso = Lasso().fit(x1_train_scaled, y1_train)

In [41]:
print(linridge.intercept_)
print('ridge coef: {} '.format(linlasso.coef_))
print('ridge train score: {} '.format(linlasso.score(x1_train_scaled, y1_train)))
print('ridge test score: {}'.format( linlasso.score(x1_test_scaled, y1_test)))

0.009691023184018429
ridge coef: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
ridge train score: 0.0
ridge test score: -0.03839444967445238

In [42]:
logreg = LogisticRegression(penalty='l1')
logreg.fit(x_train, y_train)

/Users/christianfreeman/anaconda3/envs/thinkful2/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l1',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [43]:
logreg.score(x_train,y_train)

0.9972144846796658

In [46]:
predict = logreg.predict(x_test)

In [47]:
confusion_matrix(predict, y_test)

array([[118,   0],
       [  1,   1]])

In [48]:
logreg.score(x_test,y_test)

0.9916666666666667